@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { /*1 rem = 10px */
  font-size: 62, 5%;
  font-family: "Roboto Mono", monospace !important;
}

body {
  font-family: "Roboto Mono", monospace !important;
  font-weight: 200;
}

.titulos {
  font-size: 1.4rem;
  font-family: "Roboto Mono", monospace !important;
  font-weight: 900;
}

.subtitulos {
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace !important;
  font-weight: 500;
}

.texto {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace !important;
  font-weight: 200;
}

.sombra {
  box-shadow: 0 3px 10px 0 #01a1c7, 0 2px 10px 0 rgba(0, 0, 0, 0.44);
  font-family: "Roboto Mono", monospace !important;
}

h3 {
  font-size: 1.2rem;
}

.dark {
  background-color: black;
  color: white;
}
.dark .container-perfil {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dark .container-perfil .azul {
  color: #01a1c7;
}

.light {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.light header nav .luz img {
  background-color: black;
  border-radius: 1.5rem;
}
.light header nav .nav-link {
  color: black !important;
}
.light header nav .navbar-toggler {
  background-color: black;
}
.light main .container-perfil .perfil img {
  width: 100%;
  object-fit: contain;
}

.container-perfil {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-perfil .azul {
  color: #01a1c7;
}

.container-form form label {
  margin-top: 0.5rem;
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}
.flex div .about-h3 {
  margin-bottom: 3rem;
}
.flex div .parrafo {
  margin-top: 2rem;
  text-align: center;
}
.flex .container-img-about .img-about {
  width: 20rem;
  transition: 0.5s;
  display: none;
  cursor: pointer;
}
.flex .container-img-about .img-about:hover {
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
}

.container-skills {
  width: 90%;
  margin: 0 auto;
}
.container-skills div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: auto;
  margin: auto 0.5rem;
}
.container-skills div img {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  cursor: pointer;
  transition: transform 0.9s;
}
.container-skills div img:hover {
  transform: rotateY(360deg);
}

.container-form {
  width: 80%;
  height: auto;
  border-radius: 1rem;
  margin: auto;
  background-color: #232223;
}
.container-form form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.container-form form label {
  margin-top: 0.5rem;
}
.container-form form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: 1rem;
}
.container-form form input:focus-visible {
  outline: 2px solid rgba(0, 123, 255, 0); /* Cambia el color y el grosor del borde de enfoque */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0); /* Agrega una sombra al enfoque */
  border-bottom: 3px solid white;
}
.container-form form textarea {
  background-color: black;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
}
.container-form form textarea:focus-visible {
  outline: 2px solid rgba(0, 123, 255, 0); /* Cambia el color y el grosor del borde de enfoque */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0); /* Agrega una sombra al enfoque */
}
.container-form form button {
  width: 30%;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
}
.container-form form button:hover {
  background-color: black;
  color: white;
  box-shadow: none;
}

.card {
  background-color: #232223;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}
.card .flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card .flex .container-tecnologias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card .flex div {
  margin-top: 1rem;
}
.card .flex div a {
  text-decoration: none;
  color: white;
  margin-top: 1rem;
}
.card .flex div a p {
  border: 1px solid white;
  border-radius: 0.5rem;
  width: 7rem;
  display: flex;
  justify-content: center;
}
.card .flex-card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.card .flex-card p {
  text-align: center;
}
.card .flex-card img {
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
  object-fit: contain;
}

.about {
  margin: 1rem 1rem;
  height: 20vh;
}
.about div {
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  border-radius: 1rem;
  text-align: center;
}

.dev-portfolio {
  margin: 1rem 1rem;
  position: relative;
  top: 2rem;
}
.dev-portfolio div {
  border-radius: 1rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
}
.dev-portfolio div img {
  width: 6rem;
  object-fit: cover;
  height: 6rem;
  border-radius: 0.5rem;
}

.container-perfil div h3:nth-child(2) {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 19ch;
  animation: typing 3.5s steps(10) infinite, blink 0.5s infinite step-end alternate;
  /* Repetición infinita de blink */
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.container-perfil div h3:nth-child(3) {
  color: darkgrey;
}

.perfil {
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  width: 40vw;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  position: relative;
  top: 0.3rem;
  height: 27vh;
  display: none;
}
.perfil img {
  width: 10rem;
  object-fit: cover;
  align-self: end;
}

nav span {
  color: #01a1c7;
}
nav .nav-link {
  margin: 0 1.5rem;
}
nav .nav-link:hover {
  border-bottom: 3px solid aqua;
}
nav .nav-link.active {
  border-bottom: 3px solid aqua;
}

.redes {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  border-radius: 1rem;
  justify-content: space-around;
  width: 90%;
  margin: 2rem auto auto 1rem;
}
.redes img {
  width: 2.5rem;
  transition: transform 0.9s;
}
.redes img:hover {
  transform: rotateY(360deg);
}

.skills {
  margin: 1rem 1rem;
  position: relative;
  top: 3rem;
}
.skills div {
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  border-radius: 1rem;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  scrollbar-width: none; /* Ocultar la barra de desplazamiento en navegadores que lo admitan */
  -ms-overflow-style: none; /* Ocultar la barra de desplazamiento en Internet Explorer */
  display: flex;
  /* Asegurarse de que las imágenes tengan suficiente espacio */
  min-width: calc(4rem * cantidad-de-imagenes + 2rem);
}
.skills div img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  /* Eliminar margen horizontal para más espacio */
  margin: 0.3rem 0.5rem;
}

.containter-buttons {
  margin-top: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.9rem;
}
.containter-buttons .btn-perfil {
  border-radius: 0.5rem;
  background: none;
  color: #01a1c7;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  width: 8rem;
  border: none;
}
.containter-buttons .btn-perfil p {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.luz {
  justify-content: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin: auto;
}
.luz img {
  width: 2rem;
  margin-right: 0.5rem;
}
.luz p {
  margin-bottom: 0;
  margin-left: 0.5rem;
}
.luz .celeste {
  align-items: center;
  background-color: aqua;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 3rem;
  height: 1.5rem;
}
.luz .celeste .on {
  display: none;
  background-color: black;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
}
.luz .celeste .on.active {
  display: block;
  margin-right: 50%;
}
.luz .celeste .off {
  background-color: black;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  display: none;
}
.luz .celeste .off.active {
  display: block;
  margin-left: 50%;
}

/* Estilo del resplandor */
@media (min-width: 992px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h3 {
    text-align: initial;
  }
  .container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    /* Dos columnas iguales */
    grid-template-rows: auto;
    grid-gap: 0px;
    /* Espacio entre las celdas */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    grid-template-areas: "perfil          perfil            about" "perfil          perfil            about" "perfil          perfil            redes" "dev-portfolio   dev-portfolio     skills";
  }
  body {
    /* Estilo para los botones */
    /* Estilo para los botones al pasar el ratón */
    /* Estilo para las imágenes en la sección de habilidades */
  }
  body .luz {
    width: 100%;
  }
  body .container-perfil {
    grid-area: perfil;
    /* Asigna el área "perfil" */
    text-align: center;
    width: 60vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  body .container-perfil div h3:nth-child(2) {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;
    animation: typing 2.5s steps(19) infinite, blink 0.5s infinite step-end alternate;
    /* Repetición infinita de blink */
    overflow: hidden;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  body .container-perfil div:nth-child(1) {
    height: 30vh;
    width: 30vw;
    position: relative;
    top: -1.2rem;
  }
  body .container-perfil div:nth-child(1) h3 {
    font-size: 2.1rem;
    text-align: initial;
  }
  body .container-perfil div:nth-child(1) h3:nth-child(3) {
    color: darkgrey;
    font-weight: bold;
  }
  body .container-perfil div:nth-child(1) .containter-buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }
  body .container-perfil div:nth-child(1) .containter-buttons button {
    width: 12.5vw;
    height: 2rem;
    position: relative;
    top: -1.5rem;
  }
  body .container-perfil .perfil {
    width: 20vw;
    position: relative;
    right: -0.5rem;
    height: 40vh;
    top: -1rem;
    display: flex;
  }
  body .container-perfil .perfil img {
    width: 100%;
    object-fit: contain;
  }
  body .about {
    grid-area: about;
    /* Asigna el área "about" */
    text-align: center;
    width: 20vw;
    height: 10vh;
    position: relative;
    top: -3.7rem;
  }
  body .about p {
    height: 20vh;
    padding: 0.5rem;
    font-size: small;
  }
  body .redes {
    grid-area: redes;
    display: flex;
    justify-content: space-around !important;
    gap: 10px;
    height: 4rem;
    align-items: center;
    width: 20vw;
    margin: 0 auto;
    position: relative;
    top: 0rem;
  }
  body .redes img {
    width: 2.3rem !important;
    height: 2.3rem !important;
    cursor: pointer;
  }
  body .dev-portfolio {
    grid-area: dev-portfolio;
    /* Asigna el área "dev-portfolio" */
    text-align: center;
    position: relative;
    top: -1rem;
  }
  body .dev-portfolio div {
    height: 10rem;
  }
  body .dev-portfolio div img {
    width: 9rem;
    object-fit: cover;
    height: 9rem;
    border-radius: 0.5rem;
  }
  body .skills {
    grid-area: skills;
    /* Asigna el área "skills" */
    text-align: center;
    width: 20vw;
    overflow-x: none;
    position: relative;
    top: -1rem;
  }
  body .skills div {
    overflow-x: inherit;
    height: 10rem;
    width: 20vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  body .skills div img {
    flex-basis: 20%;
  }
  body .redes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  body .redes img {
    width: 32px;
    height: 32px;
  }
  body .btn-perfil {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
  }
  body .btn-perfil:hover {
    background-color: #0056b3;
  }
  body .skills img {
    width: 48px;
    height: 48px;
    margin: 10px;
  }
  /*about page /////////////////////////////*/
  .flex .container-img-about .img-about {
    display: block !important;
  }
  /*projects page /////////////////////////////*/
  .card {
    background-color: #232223;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 90%;
    height: auto;
    margin: auto;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .card .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card .flex .container-tecnologias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card .flex div a {
    text-decoration: none;
    color: white;
  }
  .card .flex div a p {
    border: 1px solid white;
    border-radius: 0.5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .card .flex-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  .card .flex-card p {
    text-align: center;
    padding: 1rem;
  }
  .card .flex-card img {
    width: 30rem;
    height: 10rem;
    border-radius: 1rem;
    object-fit: contain;
  }
  /* contact page ////////////////////////////////////*/
  .container-form {
    width: 35%;
  }
}

/*# sourceMappingURL=style.css.map */
