@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html { /*1 rem = 10px */
  font-size: 62, 5%;
  font-family: "Roboto Mono", monospace !important;
}

body {
  font-family: "Roboto Mono", monospace !important;
  font-weight: 200;
}

.titulos {
  font-size: 1.4rem;
  font-family: "Roboto Mono", monospace !important;
  font-weight: 900;
}

.subtitulos {
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace !important;
  font-weight: 500;
}

.texto {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace !important;
  font-weight: 200;
}

.sombra {
  box-shadow: 0 3px 10px 0 #01a1c7, 0 2px 10px 0 rgba(0, 0, 0, 0.44);
  font-family: "Roboto Mono", monospace !important;
}

h3 {
  font-size: 1.2rem;
}

.dark {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.dark .container-perfil {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
}
.dark .container-perfil .azul {
  color: #01a1c7;
}
.dark .container-form form label {
  margin-top: 0.5rem;
  color: rgb(255, 255, 255);
}

.light {
  background: #ADA996;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(0, 0, 0);
}
.light header nav .luz img {
  background-color: black;
  border-radius: 1.5rem;
}
.light header nav .nav-link {
  color: black !important;
}
.light header nav .navbar-toggler {
  background-color: black;
}
.light main .modal-content {
  background-color: white;
}
.light main .container-perfil {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
}
.light main .container-perfil .perfil img {
  width: 90%;
  object-fit: contain;
}
.light .container-perfil {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.light .container-perfil .azul {
  color: #01a1c7;
}
.light .container-form form label {
  margin-top: 0.5rem;
  color: rgb(0, 0, 0);
}
.light .card {
  color: black;
}
.light .card .flex div a p {
  border: 1px solid black;
  color: black;
}

.flex {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}
.flex .margin-left {
  margin-left: 1.5rem;
}
.flex div .parrafo {
  margin-top: 2rem;
  text-align: center;
}
.flex .container-img-about .img-about {
  width: 14rem;
  transition: 0.5s;
  display: none;
  cursor: pointer;
}
.flex .container-img-about .img-about:hover {
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
}

.container-skills {
  width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
}
.container-skills div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: auto;
  margin: auto 0.5rem;
  width: fit-content;
}
.container-skills div img {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  cursor: pointer;
  transition: transform 0.9s;
}
.container-skills div img:hover {
  transform: rotateY(360deg);
}

.centrado {
  overflow-y: hidden;
}

.container-form {
  width: 80%;
  height: auto;
  border-radius: 1rem;
  margin: auto;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
}
.container-form form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.container-form form label {
  margin-top: 0.5rem;
}
.container-form form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #01a1c7;
  color: white;
  margin-bottom: 1rem;
}
.container-form form input:focus-visible {
  outline: 2px solid rgba(0, 123, 255, 0);
  /* Cambia el color y el grosor del borde de enfoque */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  /* Agrega una sombra al enfoque */
  border-bottom: 3px solid #01a1c7;
}
.container-form form textarea {
  background-color: rgba(18, 18, 18, 0.347);
  border: 1px solid #01a1c7;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
}
.container-form form textarea:focus-visible {
  outline: 2px solid rgba(0, 123, 255, 0);
  /* Cambia el color y el grosor del borde de enfoque */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  /* Agrega una sombra al enfoque */
}
.container-form form button {
  width: 30%;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
}
.container-form form button:hover {
  background-color: black;
  color: white;
  box-shadow: none;
}

.flex-redes-about {
  display: flex;
  width: auto;
  position: absolute;
  bottom: 0;
}
.flex-redes-about.rotated {
  transition: 0s;
  transform: rotate(0deg);
  /* Rotamos -90 grados para alinear verticalmente */
  transform-origin: right bottom;
  /* Especificamos el punto de rotación */
  margin-right: 0vw;
  /* Espacio entre elementos */
  bottom: 5vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  position: static;
  margin-top: 5%;
}
.flex-redes-about .circle {
  border-radius: 3rem;
  margin: 0.5rem;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
}
.flex-redes-about .circle img {
  transform: rotate(0deg);
  width: 2rem;
  margin: 1rem;
}

.card {
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}
.card .column {
  display: flex;
  flex-direction: column;
}
.card .column .container-tecnologias div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card .column .container-versitio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.card .column .container-versitio div {
  margin-top: 1rem;
}
.card .column .container-versitio div a {
  text-decoration: none;
  color: white;
}
.card .column .container-versitio div a p {
  border: 1px solid white;
  border-radius: 0.5rem;
  width: 7rem;
  display: flex;
  justify-content: center;
}
.card .column div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card .column div .project {
  width: 100%;
  border-radius: 1rem;
}
.card .flex-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.card .flex-card p {
  text-align: center;
}
.card .flex-card img {
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
  object-fit: contain;
}

.about {
  width: 100%;
  margin: 10% auto;
}
.about div {
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  border-radius: 1rem;
  text-align: center;
}

.dev-portfolio {
  margin: 10% auto;
  top: 2rem;
}
.dev-portfolio div {
  border-radius: 1rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
}
.dev-portfolio div img {
  width: 6rem;
  object-fit: cover;
  height: 6rem;
  border-radius: 0.5rem;
}

.container-perfil div h3:nth-child(2) {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 19ch;
  animation: typing 3.5s steps(10) infinite, blink 0.5s infinite step-end alternate;
  /* Repetición infinita de blink */
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.container-perfil div h3:nth-child(3) {
  color: darkgrey;
}

.perfil {
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  width: 40vw;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  position: relative;
  top: 0.3rem;
  height: 27vh;
  display: none;
}
.perfil img {
  width: 10rem;
  object-fit: cover;
  align-self: end;
}

nav span {
  color: #01a1c7;
}
nav .nav-link {
  margin: 0 1.5rem;
}
nav .nav-link:hover {
  border-bottom: 3px solid #01a1c7;
}
nav .nav-link.active {
  border-bottom: 3px solid #01a1c7;
}

.redes {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  border-radius: 0.5rem;
  justify-content: space-around;
  width: 100%;
  margin: 2rem auto;
}
.redes img {
  width: 2.5rem;
  transition: transform 0.9s;
}
.redes img:hover {
  transform: rotateY(360deg);
}

.skills {
  margin: 10% auto;
}
.skills div {
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  border-radius: 1rem;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  scrollbar-width: none;
  /* Ocultar la barra de desplazamiento en navegadores que lo admitan */
  -ms-overflow-style: none;
  /* Ocultar la barra de desplazamiento en Internet Explorer */
  display: flex;
  /* Asegurarse de que las imágenes tengan suficiente espacio */
  min-width: calc(4rem * cantidad-de-imagenes + 2rem);
}
.skills div img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  /* Eliminar margen horizontal para más espacio */
  margin: 0.3rem 0.5rem;
  transition: transform 0.9s;
  cursor: pointer;
}
.skills div img:hover {
  transform: rotateY(360deg);
}

.containter-buttons {
  margin-top: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.9rem;
}
.containter-buttons .btn-perfil {
  border-radius: 0.5rem;
  background: none;
  color: #01a1c7;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  width: 8rem;
  border: none;
}
.containter-buttons .btn-perfil p {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.luz {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  margin: auto;
}
.luz img {
  width: 1.5rem;
  margin: 0.5rem;
}
.luz p {
  margin-bottom: 0;
  margin-left: 0.5rem;
}
.luz .celeste {
  align-items: center;
  background-color: rgba(119, 119, 119, 0.543);
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 3rem;
  height: 1.5rem;
}
.luz .celeste .on {
  display: none;
  background-color: black;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
}
.luz .celeste .on.active {
  display: block;
  margin-right: 50%;
}
.luz .celeste .off {
  background-color: black;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  display: none;
}
.luz .celeste .off.active {
  display: block;
  margin-left: 50%;
}

/* Estilo del resplandor */
.typing {
  color: #01a1c7;
  width: 19ch;
  white-space: nowrap;
  border-right: 4px solid #01a1c7;
  animation: typing 2.5s steps(19) infinite, blink 0.5s infinite step-end alternate;
  /* Repetición infinita de blink */
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #000000;
  margin: 3% auto;
  border: 1px solid #888;
  width: 80%;
  height: 90vh !important;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column !important;
}

.close {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.571);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  float: right !important;
  font-size: 30px;
  cursor: pointer;
  align-self: end;
  position: relative;
  z-index: 100;
}

/* Estilos para el título del modal */
.modal-content h2 {
  font-size: large;
  margin-bottom: 20px;
  position: relative;
  top: -1.5rem;
}

/* Estilos para el contenido del modal (Lorem Ipsum) */
.modal-content p {
  font-size: small;
  margin-bottom: 20px;
  padding: 0.5rem;
  position: relative;
  top: -2rem;
}

/* Estilos para la imagen dentro del modal */
.modal-content img {
  width: 100% !important;
  height: 65vh !important;
  object-fit: contain;
  position: relative;
  top: -2rem;
}
.modal-content img:hover {
  transform: none;
  z-index: 1000;
}

/* Estilos para el botón "Ir al sitio" */
.btn-go-site {
  border-radius: 0.5rem;
  background: none;
  color: #01a1c7;
  box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
  width: 8rem;
  border: none;
  position: relative;
  top: -2rem;
}

.btn-go-site:hover {
  background-color: #0056b3;
}

.rotating-image {
  animation: rotate 4s linear infinite; /* Animación llamada "rotate" con una duración de 3 segundos y repetición infinita */
  transform-origin: center; /* Define el centro de rotación en el centro de la imagen */
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg); /* Ángulo de inicio: 0 grados sobre el eje Y */
  }
  100% {
    transform: rotateY(360deg); /* Ángulo final: 360 grados sobre el eje Y (una rotación completa) */
  }
}
@media (min-width: 800px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  body .modal-content {
    margin: 3% auto;
  }
  body .centrado {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .centrado .column {
    width: 100%;
  }
  h3 {
    text-align: initial;
    font-size: 1rem;
  }
  .container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    /* Dos columnas iguales */
    grid-template-rows: auto;
    grid-gap: 0px;
    /* Espacio entre las celdas */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    grid-template-areas: "perfil          perfil            about" "perfil          perfil            about" "perfil          perfil            redes" "dev-portfolio   dev-portfolio     skills";
  }
  body {
    /* Estilo para los botones */
    /* Estilo para los botones al pasar el ratón */
    /* Estilo para las imágenes en la sección de habilidades */
  }
  body .luz {
    width: 100%;
    justify-content: end;
  }
  body .container-perfil {
    grid-area: perfil;
    /* Asigna el área "perfil" */
    text-align: center;
    width: 60vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  body .container-perfil div h3:nth-child(2) {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 19ch;
    animation: typing 2.5s steps(19) infinite, blink 0.5s infinite step-end alternate;
    /* Repetición infinita de blink */
    overflow: hidden;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  body .container-perfil div:nth-child(1) {
    height: 36vh;
    width: 30vw;
    position: relative;
    top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    left: -0.9rem;
  }
  body .container-perfil div:nth-child(1) h3 {
    font-size: 1.6rem;
    text-align: initial;
    margin-bottom: 0rem;
  }
  body .container-perfil div:nth-child(1) h3:nth-child(3) {
    color: darkgrey;
    font-weight: bold;
  }
  body .container-perfil div:nth-child(1) .containter-buttons {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 0;
    margin-top: 0;
    position: relative;
    top: 0.5rem;
    left: -0.5rem;
  }
  body .container-perfil div:nth-child(1) .containter-buttons button {
    width: 13.5vw;
    height: 2rem;
    transition: 0.5s;
    padding: 0;
  }
  body .container-perfil div:nth-child(1) .containter-buttons button:hover {
    background-color: #01a1c7;
    color: white;
    box-shadow: none;
  }
  body .container-perfil .perfil {
    width: 20vw;
    position: relative;
    right: -0.5rem;
    height: 36vh;
    top: -0.5rem;
    display: flex;
  }
  body .container-perfil .perfil img {
    width: 90%;
    object-fit: contain;
  }
  body .about {
    grid-area: about;
    /* Asigna el área "about" */
    text-align: center;
    width: 20vw;
    height: 10vh;
    position: relative;
    top: -2rem;
  }
  body .about p {
    height: 20vh;
    padding: 0.5rem;
    font-size: small;
    text-align: center;
    display: flex;
    align-items: center;
  }
  body .redes {
    grid-area: redes;
    display: flex;
    justify-content: space-around !important;
    gap: 10px;
    height: 3rem;
    align-items: center;
    width: 20vw;
    margin: 0 auto;
    position: relative;
    top: 0rem;
  }
  body .redes img {
    width: 2rem !important;
    height: 2rem !important;
    cursor: pointer;
  }
  body .dev-portfolio {
    grid-area: dev-portfolio;
    /* Asigna el área "dev-portfolio" */
    text-align: center;
    position: relative;
    top: -1rem;
    margin: 1rem 1rem;
  }
  body .dev-portfolio div {
    height: 32vh;
  }
  body .dev-portfolio div img {
    width: 18vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: 0.9s;
  }
  body .dev-portfolio div img:hover {
    transform: scale(1.2);
    z-index: 1000;
  }
  body .skills {
    grid-area: skills;
    /* Asigna el área "skills" */
    text-align: center;
    width: 20vw;
    overflow-x: none;
    position: relative;
    top: -1rem;
  }
  body .skills div {
    overflow-x: inherit;
    height: 32vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  body .skills div img {
    width: 3rem;
    height: 3rem;
  }
  body .redes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  body .redes img {
    width: 32px;
    height: 32px;
  }
  body .btn-perfil {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
  }
  body .btn-perfil:hover {
    background-color: #0056b3;
  }
  body .skills img {
    width: 48px;
    height: 48px;
    margin: 10px;
  }
  /*about page /////////////////////////////*/
  .flex .container-img-about .img-about {
    display: block !important;
  }
  .container-skills {
    overflow: hidden;
  }
  .parrafo p {
    text-align: initial;
    font-size: small;
  }
  .margin-left {
    margin-left: 3.2rem;
  }
  .card-about {
    width: 90vw;
    border-radius: 1rem;
    box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
    padding: 1rem;
  }
  /*projects page /////////////////////////////*/
  .typing {
    color: #01a1c7;
    width: 19ch;
    white-space: nowrap;
    border-right: 4px solid #01a1c7;
    animation: typing 2.5s steps(19) infinite, blink 0.5s infinite step-end alternate;
    /* Repetición infinita de blink */
    overflow: hidden;
    position: absolute;
    top: 2rem;
    left: 6rem;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  .card {
    box-shadow: 0 2px 5px 0 #01a1c7, 0 2px 10px 0 rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 90%;
    height: 60vh;
    margin: auto;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .card .column {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .card .column .flex-card {
    margin-top: 10vh;
  }
  .card .column div .project {
    position: relative;
    top: -11vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 1rem;
    width: 30vw;
    right: -5vw;
  }
  .card .column .container-versitio {
    width: 40vw;
    margin-top: 1rem;
    position: relative;
    top: -18vh;
    left: -1vw;
  }
  .card .column .container-tecnologias {
    position: relative;
    left: -50vw;
  }
  .card .column div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .card .column .container-tecnologias {
    display: flex;
    flex-direction: column;
  }
  .card .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card .flex .container-tecnologias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card .flex div a {
    text-decoration: none;
    color: white;
  }
  .card .flex div a p {
    border: 1px solid white;
    border-radius: 0.5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  /* contact page ////////////////////////////////////*/
  .container-form {
    width: 35%;
  }
  .flex-redes-about {
    display: flex;
    width: auto;
    position: absolute;
    right: 0;
  }
  .flex-redes-about.rotated {
    transition: 2s;
    transform: rotate(90deg);
    /* Rotamos -90 grados para alinear verticalmente */
    transform-origin: right bottom;
    /* Especificamos el punto de rotación */
    margin-right: 10vw;
    /* Espacio entre elementos */
    bottom: 5vh;
    overflow: hidden;
    width: auto;
    position: absolute;
    margin-top: none;
  }
  .flex-redes-about .circle {
    border-radius: 3rem;
    margin: 0.5rem;
  }
  .flex-redes-about .circle img {
    transform: rotate(270deg);
    width: 3rem;
    margin: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
