.flex {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    

    div {
        .parrafo {
            margin-top: 2rem;
            text-align: center;
        }
    }

    .container-img-about {
        .img-about {
            width: 20rem;
            transition: 0.5s;
            display: none;
            cursor: pointer;
            &:hover{
                
                border-radius: 1rem;
                box-shadow: map-get($sombra, normal);
            }
        }
    }
}

.container-skills {
    width: 90%;
    margin: 0 auto;
    overflow-x: scroll;
    

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        overflow-x: auto;
        margin: auto .5rem;
        width: fit-content;
        

        img {
            width: 4rem;
            height: 4rem;
            margin: 1rem;
            cursor: pointer;
            transition: transform 0.9s;

            &:hover {
                transform: rotateY(360deg);
            }
        }
    }
}