body{
    background-color: black;
    color: white;
    .container-perfil{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .azul{
            color: $azul;
        }
    }
}

