.dark {
    background-color: black;
    color: white;

    .container-perfil {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .azul {
            color: $azul;
        }
    }
}

.light {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.container-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .azul {
        color: $azul;
    }
}