h3{
    font-size: 1.2rem;
}
.dark {
    background-color: black;
    color: white;

    .container-perfil {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .azul {
            color: $azul;
        }
    }
}

.light {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    header {
        nav {
            .luz {
                img {
                    background-color: black;
                    border-radius: 1.5rem;
                }
            }

            .nav-link {
                color: black !important;
            }

            .navbar-toggler {
                background-color: black;
            }
        }
    }

    main {
        .container-perfil {
            .perfil {
                img {
                    width: 100%;
                    background-color: #43a1c7;
                    border-radius: 1rem;
                }
            }
        }
    }
}


.container-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .azul {
        color: $azul;
    }
}