.containter-buttons {
    margin-top: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
    .btn-perfil {
        border-radius: 0.5rem;
        background: none;
        color: $azul;
        box-shadow: map-get($sombra, normal);
        width: 8rem;
        border: none;

        p {
            margin-bottom: 0;
            font-size: 0.9rem;
        }
    }
}