.containter-buttons {
    margin-top: 2rem;
    .btn-perfil {
        border-radius: 0.5rem;
        background: none;
        color: $azul;
        box-shadow: map-get($sombra, normal);
        width: 6rem;
        border: none;

        p {
            margin-bottom: 0;
        }
    }
}