.container-perfil{
    div{
        h3:nth-child(3) {
            color: darkgrey;
        }
    }
}
.perfil {
    box-shadow: map-get($sombra, normal);
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 1rem;

    img {
        width: 10rem;
        object-fit: cover;
    }
}