

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #000000;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    height: 99vh !important;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column !important;
}

.close {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.571);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    float: right !important;
    font-size: 30px;
    cursor: pointer;
    align-self: end;
    position: relative;
    z-index: 100;
}



/* Estilos para el título del modal */
.modal-content h2 {
    font-size: large;
    margin-bottom: 20px;
    position: relative;
    top: -1.5rem;
}

/* Estilos para el contenido del modal (Lorem Ipsum) */
.modal-content p {
    font-size: small;
    margin-bottom: 20px;
    padding: .5rem;
    position: relative;
    top: -2rem;
}

/* Estilos para la imagen dentro del modal */
.modal-content img {
    width: 100% !important;
    height: 65vh !important;
    object-fit: contain;
    position: relative;
    top: -2rem;
}

/* Estilos para el botón "Ir al sitio" */
.btn-go-site {
    border-radius: 0.5rem;
        background: none;
        color: $azul;
        box-shadow: map-get($sombra, normal);
        width: 8rem;
        border: none;
        position: relative;
        top: -2rem;
}

.btn-go-site:hover {
    background-color: #0056b3;
}