nav{
    span{
        color: $azul;
    }
    .nav-link{
        margin: 0 1.5rem;
        &:hover{
            border-bottom: 3px solid aqua;
        }
        &.active{
            border-bottom: 3px solid aqua;
        }
    }
}

