html { /*1 rem = 10px */
    font-size: 62,5%;
    font-family: 'Roboto Mono', monospace !important;
}
body{
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 200;
}
.titulos{
    font-size: map-get($titulos, desktop);
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 900;

}

.subtitulos{
    font-size: map-get($subtitulos, desktop);
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 500;
}

.texto{
    font-size: map-get($texto, desktop);
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 200;
}

.sombra{
    box-shadow: map-get($sombra, densa);
    font-family: 'Roboto Mono', monospace !important;
}