@media (min-width: 992px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;

    }

    h3 {
        text-align: initial;
    }

    .container {
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: (auto auto auto);
        /* Dos columnas iguales */
        grid-template-rows: auto;
        grid-gap: 0px;
        /* Espacio entre las celdas */
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        grid-template-areas:
            "perfil          perfil            about"
            "perfil          perfil            about"
            "perfil          perfil            redes"
            "dev-portfolio   dev-portfolio     skills";
    }

    body {
        .luz {
            width: 100%;
        }

        .container-perfil {
            grid-area: perfil;
            /* Asigna el área "perfil" */
            text-align: center;
            width: 60vw;
            height: 40vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div{
                h3:nth-child(2) {
                    display: block;
                    white-space: nowrap;
                    border-right: 4px solid;
                    width: 19ch;
                    animation: typing 2.5s steps(19) infinite,
                        /* Repetición infinita de typing */
                        blink .5s infinite step-end alternate;
                    /* Repetición infinita de blink */
                    overflow: hidden;
        
                    @keyframes typing {
                        from {
                            width: 0;
                        }
                    }
        
                    @keyframes blink {
                        50% {
                            border-color: transparent
                        }
        
                        ;
                    }
                }
            }

            div:nth-child(1) {
                height: 30vh;
                width: 30vw;
                position: relative;
                top: -1.2rem;

                h3 {
                    font-size: 2.1rem;
                    text-align: initial;
                }

                h3:nth-child(3) {
                    color: darkgrey;
                    font-weight: bold;
                }

                .containter-buttons {
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: row;

                    button {
                        width: 12.5vw;
                        height: 2rem;
                        position: relative;
                        top: -1.5rem;
                    }
                }
            }

            .perfil {
                width: 20vw;
                position: relative;
                right: -0.5rem;
                height: 40vh;
                top: -1rem;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

        .about {
            grid-area: about;
            /* Asigna el área "about" */
            text-align: center;
            width: 20vw;
            height: 10vh;
            position: relative;
            top: -3.7rem;

            p {
                height: 20vh;
                padding: 0.5rem;
                font-size: small;
            }
        }

        .redes {
            grid-area: redes;
            display: flex;
            justify-content: space-around !important;
            gap: 10px;
            height: 4rem;
            align-items: center;
            width: 20vw;
            margin: 0 auto;
            position: relative;
            top: -.5rem;

            img {
                width: 2.3rem !important;
                height: 2.3rem !important;
                cursor: pointer;
            }
        }

        .dev-portfolio {
            grid-area: dev-portfolio;
            /* Asigna el área "dev-portfolio" */
            text-align: center;
            position: relative;
            top: -1rem;

            div {
                height: 10rem;

                img {
                    width: 9rem;
                    object-fit: cover;
                    height: 9rem;
                    border-radius: 0.5rem;
                }
            }
        }

        .skills {
            grid-area: skills;
            /* Asigna el área "skills" */
            text-align: center;
            width: 20vw;
            overflow-x: none;
            position: relative;
            top: -1rem;

            div {
                overflow-x: inherit;
                height: 10rem;
                width: 20vw;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                img {
                    flex-basis: 20%;
                }
            }
        }

        .redes {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 10px;
        }

        .redes img {
            width: 32px;
            height: 32px;
        }

        /* Estilo para los botones */
        .btn-perfil {
            background-color: #007bff;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
            margin: 10px;
        }

        /* Estilo para los botones al pasar el ratón */
        .btn-perfil:hover {
            background-color: #0056b3;
        }

        /* Estilo para las imágenes en la sección de habilidades */
        .skills img {
            width: 48px;
            height: 48px;
            margin: 10px;
        }
    }
}