@media (min-width: 800px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: #0F2027;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        .modal-content {
            margin: 3% auto;
        }

        .centrado {
            height: 85vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .column {
                width: 100%;
            }
        }

    }

    h3 {
        text-align: initial;
        font-size: 1rem;
    }

    .container {
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: (auto auto auto);
        /* Dos columnas iguales */
        grid-template-rows: auto;
        grid-gap: 0px;
        /* Espacio entre las celdas */
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        grid-template-areas:
            "perfil          perfil            about"
            "perfil          perfil            about"
            "perfil          perfil            redes"
            "dev-portfolio   dev-portfolio     skills";
    }

    body {

        .luz {
            width: 100%;
            justify-content: end;
        }

        .container-perfil {
            grid-area: perfil;
            /* Asigna el área "perfil" */
            text-align: center;
            width: 60vw;
            height: 40vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            div {
                h3:nth-child(2) {
                    display: block;
                    white-space: nowrap;
                    border-right: 4px solid;
                    width: 19ch;
                    animation: typing 2.5s steps(19) infinite,
                        /* Repetición infinita de typing */
                        blink .5s infinite step-end alternate;
                    /* Repetición infinita de blink */
                    overflow: hidden;

                    @keyframes typing {
                        from {
                            width: 0;
                        }
                    }

                    @keyframes blink {
                        50% {
                            border-color: transparent
                        }

                        ;
                    }
                }
            }

            div:nth-child(1) {
                height: 36vh;
                width: 30vw;
                position: relative;
                top: -1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0;
                left: -0.9rem;



                h3 {
                    font-size: 1.6rem;
                    text-align: initial;
                    margin-bottom: 0rem;
                }

                h3:nth-child(3) {
                    color: darkgrey;
                    font-weight: bold;
                }

                .containter-buttons {
                    display: flex;
                    flex-direction: row;
                    width: fit-content;
                    gap: 0;
                    margin-top: 0;
                    position: relative;
                    top: 0.5rem;
                    left: -0.5rem;

                    button {
                        width: 13.5vw;
                        height: 2rem;
                        transition: .5s;
                        padding: 0;

                        &:hover {
                            background-color: $azul;
                            color: white;
                            box-shadow: none;
                        }
                    }
                }
            }

            .perfil {
                width: 20vw;
                position: relative;
                right: -0.5rem;
                height: 36vh;
                top: -.5rem;
                display: flex;



                img {
                    width: 90%;
                    object-fit: contain;
                }
            }
        }

        .about {
            grid-area: about;
            /* Asigna el área "about" */
            text-align: center;
            width: 20vw;
            height: 10vh;
            position: relative;
            top: -2rem;

            p {
                height: 20vh;
                padding: 0.5rem;
                font-size: small;
                text-align: center;
                display: flex;
                align-items: center;


            }
        }

        .redes {
            grid-area: redes;
            display: flex;
            justify-content: space-around !important;
            gap: 10px;
            height: 3rem;
            align-items: center;
            width: 20vw;
            margin: 0 auto;
            position: relative;
            top: 0rem;



            img {
                width: 2rem !important;
                height: 2rem !important;
                cursor: pointer;
            }
        }

        .dev-portfolio {
            grid-area: dev-portfolio;
            /* Asigna el área "dev-portfolio" */
            text-align: center;
            position: relative;
            top: -1rem;
            margin: 1rem 1rem;



            div {
                height: 32vh;



                img {
                    width: 18vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 0.5rem;
                    transition: .9s;
                    &:hover{
                        transform: scale(1.5);
                        z-index: 1000;
                        
                    }
                }
            }
        }

        .skills {
            grid-area: skills;
            /* Asigna el área "skills" */
            text-align: center;
            width: 20vw;
            overflow-x: none;
            position: relative;
            top: -1rem;

            div {
                overflow-x: inherit;
                height: 32vh;
                width: 20vw;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;



                img {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }

        .redes {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 10px;
        }

        .redes img {
            width: 32px;
            height: 32px;
        }

        /* Estilo para los botones */
        .btn-perfil {
            background-color: #007bff;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
            margin: 10px;
        }

        /* Estilo para los botones al pasar el ratón */
        .btn-perfil:hover {
            background-color: #0056b3;
        }

        /* Estilo para las imágenes en la sección de habilidades */
        .skills img {
            width: 48px;
            height: 48px;
            margin: 10px;
        }
    }


    /*about page /////////////////////////////*/
    .flex {
        .container-img-about {
            .img-about {
                display: block !important;
            }

        }
    }

    .container-skills {
        overflow: hidden;
    }

    .parrafo {
        p {
            text-align: initial;
            font-size: small;
        }
    }

    .margin-left {
        margin-left: 3.2rem;
    }

    .card-about {
        width: 90vw;
        border-radius: 1rem;
        box-shadow: map-get($sombra, normal);
        padding: 1rem;
    }












    /*projects page /////////////////////////////*/
    .typing {
        color: $azul;
        width: 19ch;
        white-space: nowrap;
        border-right: 4px solid $azul;
        animation: typing 2.5s steps(19) infinite,
            /* Repetición infinita de typing */
            blink .5s infinite step-end alternate;
        /* Repetición infinita de blink */
        overflow: hidden;
        position: absolute;
        top: 2rem;
        left: 6rem;

        @keyframes typing {
            from {
                width: 0;
            }
        }

        @keyframes blink {
            50% {
                border-color: transparent
            }

            ;
        }
    }

    .card {
        box-shadow: map-get($sombra, normal);
        background-color: transparent;
        border-radius: 1rem;
        padding: 1.5rem;
        width: 90%;
        height: auto;
        margin: auto;
        color: white;
        margin-top: 2rem;
        margin-bottom: 2rem;

        .flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .container-tecnologias {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            div {
                a {
                    text-decoration: none;
                    color: white;

                    p {
                        border: 1px solid white;
                        border-radius: .5rem;
                        width: 7rem;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                    }
                }
            }
        }

        .flex-card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;

            p {
                text-align: center;
                padding: 1rem;
            }

            img {
                width: 30rem;
                height: 10rem;
                border-radius: 1rem;
                object-fit: contain;
            }
        }
    }


    /* contact page ////////////////////////////////////*/
    .container-form {
        width: 35%;
    }

    .flex-redes-about {
        display: flex;
        width: auto;
        position: absolute;
        right: 0;


        &.rotated {
            transition: 2s;
            transform: rotate(90deg);
            /* Rotamos -90 grados para alinear verticalmente */
            transform-origin: right bottom;
            /* Especificamos el punto de rotación */
            margin-right: 10vw;
            /* Espacio entre elementos */
            bottom: 5vh;
            overflow: hidden;
            width: auto;
            position: absolute;
            margin-top: none;
        }

        .circle {
            border-radius: 3rem;
            margin: .5rem;

            img {
                transform: rotate(270deg);
                width: 3rem;
                margin: 1rem;
            }
        }

    }

}